<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!--<add key="ConnStr" value="data source=./;initial catalog=MvcMusicStore;integrated security=True;MultipleActiveResultSets=True;"/>-->
    <!--<add key="ConnStr" value="Server=./; UID=User;PWD=password;DataBase=BaseDeDatos;Pooling=true">-->
    <add key="ConnStr" value="data source=./;initial catalog=MvcMusicStore;integrated security=True;MultipleActiveResultSets=True;"/>

  </appSettings>
</configuration>