@model PlugginCreation.Models.tb_Employees

<p>@(Model.EmployeeName != null || Model.EmployeeName != "undefined" ? Model.EmployeeName : "")</p>
<script type="text/javascript">
    $(document).ready(function () {
    });
</script>